.rec-sku-container {
  width: 100%; 
}

.rec-spec-block {
  padding-bottom: 20px;
}

.rec-spec-title {
  font-size: $sku-spec-title-font-size;
  margin-bottom: 15px;
  color: $gray-900;
}

.rec-spec-choice {
  display: inline-block;
  margin-right: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-size: $sku-spec-font-size;
  cursor: pointer;
}

.rec-spec-choice-active {
  background-color: $sku-spec-active-bg;
  color: $sku-spec-active-color;
}

.rec-spec-choice-unactive {
  background-color: $sku-spec-bg;
  color: $sku-spec-color;
}

.rec-spec-choice-disabled {
  background-color: $sku-spec-disabled-bg;
  color: $sku-spec-disabled-color;
}
